BasedOnStyle: Google
IndentWidth: 4
TabWidth: 4
UseTab: Never
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
AllowShortFunctionsOnASingleLine: Inline
AllowShortBlocksOnASingleLine: false
ColumnLimit: 120
PointerAlignment: Left
SortIncludes: true
IncludeBlocks: Regroup
BreakBeforeBraces: Attach
SpacesBeforeTrailingComments: 2
IndentCaseLabels: false
AccessModifierOffset: -4
NamespaceIndentation: None
FixNamespaceComments: true
IndentPPDirectives: AfterHash
InsertNewlineAtEOF: true
